Repository Java-Discord/JavaBot, pull requests merged in 2024-01, with the labels that each got.

#470 Fixed some first-time startup issues
  README.md
  src/main/java/net/discordjug/javabot/SpringConfig.java
  src/main/java/net/discordjug/javabot/data/config/SystemsConfig.java
  src/main/java/net/discordjug/javabot/data/h2db/DbHelper.java
  src/main/resources/database/schema.sql
Labels: bug fix

#468 fix pinning of QOTW answer posts
  src/main/java/net/discordjug/javabot/systems/qotw/jobs/QOTWCloseSubmissionsJob.java
Labels: feature: qotw

#471 automatically clear old help notifications
  src/main/java/net/discordjug/javabot/systems/help/commands/HelpCommand.java
  src/main/java/net/discordjug/javabot/systems/help/commands/notify/ClearOldHelpNotificationJob.java
  src/main/java/net/discordjug/javabot/systems/help/commands/notify/HelpPingSubcommand.java
Labels: feature: help-system

#473 use java codeblock when autoformatting code in help channels
  src/main/java/net/discordjug/javabot/systems/help/AutoCodeFormatter.java
Labels: feature: help-system

#474 restrict closing of posts by non-original posters
  src/main/java/net/discordjug/javabot/Bot.java
  src/main/java/net/discordjug/javabot/systems/help/HelpListener.java
  src/main/java/net/discordjug/javabot/systems/help/HelpManager.java
  src/main/java/net/discordjug/javabot/systems/help/commands/UnreserveCommand.java
Labels: feature: help-system

#476 Change minimum xp for daily removal to 1
  src/main/java/net/discordjug/javabot/data/config/guild/HelpConfig.java
  src/main/java/net/discordjug/javabot/data/h2db/DbHelper.java
  src/main/java/net/discordjug/javabot/systems/help/HelpExperienceJob.java
  src/main/java/net/discordjug/javabot/systems/help/dao/HelpAccountRepository.java
  src/test/java/net/discordjug/javabot/systems/help/HelpExperienceSubtractionTest.java
Labels: feature: help-system
